@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.container-fluid {
  width: 100%;
  height: 100vh;
}

.row {
  color:black
}

.col_results{
  text-align: center;
}
